<% @page_title = "New User" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="user">
  <h2>Add User</h2>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("New User") %>
    </div>

  <% end %>
</div>
